<!DOCTYPE html>
<html>

    <body>

        <head>
            <title>Forgot Password Page</title>
            <link rel = "stylesheet" href = "/stylesheets/forgot_password.css">
        </head>


        <div class = "navigation_bar">
            <nav>
                <ul class = "elements">
                    <li><a href="/login"> Home </a></li>
                    <li><a href="#"> About </a></li>
                    <li><a href="#"> Service </a></li>
                    <li><a href="#"> Content </a></li>
                </ul>
            </nav>
        </div>



        <div class="Forgot_password_box" id="Forgot_password_box">
            <h1>Reset</h1>
            <form id="form" action="/send_code" method="POST">
                <input type="email" id="email_address" name="email_address" placeholder="Email Address" required><br><br>
                <button class="Reset_button">Send Validation Code</button>
                <% if (data == 1) { %>
                    <span>Account not found</span>
                <% } %>
            </form>

        </div>

    </body>

</html>